/*estilos personalizados para la barra de navegación */
.navbar_main{
    background-color: #2E8C42 !important;
}
.text_nav{
    color: white !important;
}
.navbar-toggler {
    /* 1. Quita el borde gris sutil que pone Bootstrap */
    border: none !important; 
    
    /* 2. Quita la sombra (el resplandor gris/azul al hacer clic) */
    box-shadow: none !important;
    
    /* 3. Quita el contorno de enfoque */
    outline: none !important;
}

/* También es importante quitarlo cuando el botón recibe foco (clic o tabulador) */
.navbar-toggler:focus,
.navbar-toggler:active {t;
}
 /*estilos para el contenido de la página */

/* 1. Estado normal de tus tarjetas de EcoAgro */
.target_product.card {
    transition: all 0.3s ease-in-out !important; /* El !important asegura que Bootstrap permita la animación */
    cursor: pointer;
}

/* 2. El efecto cuando pasas el mouse por encima */
.target_product.card:hover {
    /* Le damos una sombra*/
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15) !important; 
    
    /* El efecto de elevación */
    transform: translateY(-5px); 
}

 /*estilo boton carrusel */
.carousel-control-prev,
.carousel-control-next {
    width: 5%; /* Hace que el área de clic sea más delgada */
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    padding: 20px; /* Agranda un poco la flecha */
}